USE [master]
GO
/****** Object:  Database [G5_KD_DO_CONG_NGHE]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE DATABASE [G5_KD_DO_CONG_NGHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'G5_KD_DO_CONG_NGHE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIENANH1\MSSQL\DATA\G5_KD_DO_CONG_NGHE.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'G5_KD_DO_CONG_NGHE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIENANH1\MSSQL\DATA\G5_KD_DO_CONG_NGHE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [G5_KD_DO_CONG_NGHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [G5_KD_DO_CONG_NGHE]
GO
/****** Object:  Table [dbo].[G5_sanpham]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_sanpham](
	[G5_MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenSanPham] [nvarchar](255) NULL,
	[G5_MaDanhMuc] [int] NULL,
	[G5_GiaGoc] [decimal](18, 2) NULL,
	[G5_MoTa] [nvarchar](max) NULL,
	[G5_HinhAnh] [nvarchar](max) NULL,
	[G5_SoLuongTon] [int] NULL,
	[G5_TrangThai] [bit] NULL,
	[G5_NgayThem] [datetime] NULL,
	[G5_Loai] [nvarchar](50) NULL,
	[G5_GiaBan] [decimal](18, 2) NULL,
	[G5_ThuongHieu] [nvarchar](255) NULL,
	[G5_XuatXu] [nvarchar](255) NULL,
	[G5_BaoHanh] [nvarchar](255) NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_G5_SanPham_Active]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_G5_SanPham_Active] AS
    SELECT * FROM [dbo].[G5_sanpham]
    WHERE [G5_IsDeleted] = 0;
GO
/****** Object:  Table [dbo].[G5_user]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_user](
	[G5_MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[G5_HoTen] [nvarchar](255) NULL,
	[G5_Email] [nvarchar](255) NULL,
	[G5_SDT] [nvarchar](20) NULL,
	[G5_NgaySinh] [date] NULL,
	[G5_MatKhau] [nvarchar](255) NULL,
	[G5_VaiTro] [nvarchar](50) NULL,
	[G5_NgayDangKy] [datetime] NULL,
	[G5_ResetToken] [nvarchar](255) NULL,
	[G5_ResetTokenExpiry] [datetime] NULL,
	[G5_AvatarUrl] [nvarchar](max) NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_G5_User_Active]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_G5_User_Active] AS
    SELECT * FROM [dbo].[G5_user]
    WHERE [G5_IsDeleted] = 0;
GO
/****** Object:  Table [dbo].[G5_donhang]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_donhang](
	[G5_MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_NgayDatHang] [datetime] NULL,
	[G5_TongTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_DiaChiNguoiNhan] [nvarchar](255) NULL,
	[G5_EmailNguoiNhan] [nvarchar](255) NULL,
	[G5_GhiChu] [nvarchar](max) NULL,
	[G5_HoTenNguoiNhan] [nvarchar](255) NULL,
	[G5_SoDienThoaiNguoiNhan] [nvarchar](20) NULL,
	[G5_PhuongThucThanhToan] [nvarchar](50) NULL,
	[G5_TrangThaiThanhToan] [nvarchar](50) NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_G5_DonHang_Active]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_G5_DonHang_Active] AS
    SELECT * FROM [dbo].[G5_donhang]
    WHERE [G5_IsDeleted] = 0;
GO
/****** Object:  Table [dbo].[G5_danhmuc]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_danhmuc](
	[G5_MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenDanhMuc] [nvarchar](255) NULL,
	[G5_MoTa] [nvarchar](max) NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_G5_DanhMuc_Active]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_G5_DanhMuc_Active] AS
    SELECT * FROM [dbo].[G5_danhmuc]
    WHERE [G5_IsDeleted] = 0;
GO
/****** Object:  Table [dbo].[G5_danhgia]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_danhgia](
	[G5_MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_SoSao] [int] NULL,
	[G5_BinhLuan] [nvarchar](max) NULL,
	[G5_NgayDanhGia] [datetime] NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_G5_DanhGia_Active]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_G5_DanhGia_Active] AS
    SELECT * FROM [dbo].[G5_danhgia]
    WHERE [G5_IsDeleted] = 0;
GO
/****** Object:  Table [dbo].[G5_banner]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_banner](
	[G5_BannerID] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaDanhMuc] [int] NULL,
	[G5_TieuDe] [nvarchar](255) NULL,
	[G5_MoTa] [nvarchar](max) NULL,
	[G5_UrlAnh] [nvarchar](max) NULL,
	[G5_LinkRedirect] [varchar](500) NULL,
	[G5_TrangThai] [int] NULL,
	[G5_NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_chitiet_donhang_thue]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_chitiet_donhang_thue](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaDonThue] [int] NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_SoLuong] [int] NULL,
	[G5_GiaThue] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_chitietdonhang]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_chitietdonhang](
	[G5_MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaDonHang] [int] NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_danhmuc_thuoctinh]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_danhmuc_thuoctinh](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaDanhMuc] [int] NULL,
	[G5_ThuocTinhID] [int] NULL,
	[G5_ThuTu] [int] NULL,
	[G5_TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_dichvu_tuvan]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_dichvu_tuvan](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenDichVu] [nvarchar](255) NULL,
	[G5_MoTa] [nvarchar](max) NULL,
	[G5_Gia] [decimal](18, 2) NULL,
	[G5_ThoiLuong] [int] NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_donhang_thue]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_donhang_thue](
	[G5_MaDonThue] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_MaNhanVien] [int] NULL,
	[G5_NgayBatDau] [datetime] NULL,
	[G5_NgayKetThuc] [datetime] NULL,
	[G5_TongTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_TienCoc] [decimal](18, 2) NULL,
	[G5_TrangThaiThanhToan] [nvarchar](50) NULL,
	[G5_NgayTraThucTe] [datetime] NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDonThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_giatrithuoctinh]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_giatrithuoctinh](
	[G5_GiaTriID] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_ThuocTinhID] [int] NULL,
	[G5_GiaTri] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_GiaTriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_giohangtam]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_giohangtam](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_lich_su_thue]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_lich_su_thue](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_MaDonThue] [int] NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_lich_tuvan]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_lich_tuvan](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_MaDichVu] [int] NULL,
	[G5_ThoiGianBatDau] [datetime] NULL,
	[G5_ThoiGianKetThuc] [datetime] NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_GhiChu] [nvarchar](max) NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_lich_tuvan_nhanvien]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_lich_tuvan_nhanvien](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaLich] [int] NULL,
	[G5_MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_onlinepayment]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_onlinepayment](
	[G5_MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[G5_NgayCapNhat] [datetime] NULL,
	[G5_NgayHetHan] [datetime] NULL,
	[G5_NgayTao] [datetime] NULL,
	[G5_NoiDung] [nvarchar](max) NULL,
	[G5_QRCodeUrl] [nvarchar](max) NULL,
	[G5_SoTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_TransactionReference] [nvarchar](255) NULL,
	[G5_MaDonHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_paymentsession]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_paymentsession](
	[G5_MaSession] [int] IDENTITY(1,1) NOT NULL,
	[G5_CartDataJson] [nvarchar](max) NULL,
	[G5_DiaChi] [nvarchar](255) NULL,
	[G5_Email] [nvarchar](255) NULL,
	[G5_PhiShip] [decimal](18, 2) NULL,
	[G5_GiamGia] [decimal](18, 2) NULL,
	[G5_HoTen] [nvarchar](255) NULL,
	[G5_NgayCapNhat] [datetime] NULL,
	[G5_NgayHetHan] [datetime] NULL,
	[G5_NgayTao] [datetime] NULL,
	[G5_NoiDungCK] [nvarchar](max) NULL,
	[G5_QRCodeUrl] [nvarchar](max) NULL,
	[G5_SoDienThoai] [nvarchar](20) NULL,
	[G5_TongTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_TransactionReference] [nvarchar](255) NULL,
	[G5_VoucherCode] [nvarchar](100) NULL,
	[G5_MaDonHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_sanpham_hinhanh]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_sanpham_hinhanh](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_UrlAnh] [nvarchar](max) NULL,
	[G5_AltText] [nvarchar](255) NULL,
	[G5_ThuTu] [int] NULL,
	[G5_NgayTao] [datetime] NULL,
	[G5_TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_sanpham_thue]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_sanpham_thue](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_GiaThueNgay] [decimal](18, 2) NULL,
	[G5_GiaThueGio] [decimal](18, 2) NULL,
	[G5_SoLuongChoThue] [int] NULL,
	[G5_TienCoc] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_thuoctinh]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_thuoctinh](
	[G5_ThuocTinhID] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenThuocTinh] [nvarchar](255) NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_ThuocTinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_uservoucher]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_uservoucher](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_ClaimedAt] [datetime] NULL,
	[G5_ExpiredAt] [datetime] NULL,
	[G5_IsUsed] [bit] NULL,
	[G5_UsedAt] [datetime] NULL,
	[G5_OrderId] [int] NULL,
	[G5_UserId] [int] NULL,
	[G5_VoucherId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_voucher]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_voucher](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_ApplyToAll] [bit] NULL,
	[G5_CategoryIds] [nvarchar](max) NULL,
	[G5_Code] [nvarchar](100) NULL,
	[G5_CreatedAt] [datetime] NULL,
	[G5_Description] [nvarchar](max) NULL,
	[G5_DiscountType] [nvarchar](50) NULL,
	[G5_DiscountValue] [decimal](18, 2) NULL,
	[G5_EndDate] [datetime] NULL,
	[G5_UserIdCreate] [int] NULL,
	[G5_MaxDiscount] [decimal](18, 2) NULL,
	[G5_MinOrderValue] [decimal](18, 2) NULL,
	[G5_Name] [nvarchar](255) NULL,
	[G5_ProductIds] [nvarchar](max) NULL,
	[G5_StartDate] [datetime] NULL,
	[G5_Status] [nvarchar](50) NULL,
	[G5_TotalQuantity] [int] NULL,
	[G5_UsedQuantity] [int] NULL,
	[G5_IsDeleted] [bit] NOT NULL,
	[G5_DeletedAt] [datetime] NULL,
	[G5_DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[G5_banner] ON 

INSERT [dbo].[G5_banner] ([G5_BannerID], [G5_MaDanhMuc], [G5_TieuDe], [G5_MoTa], [G5_UrlAnh], [G5_LinkRedirect], [G5_TrangThai], [G5_NgayTao]) VALUES (1, 7, N'Mùa đại hạ giá', N'Ưu đãi cho học sinh, sinh viên', N'/static/uploads/8aac62734e094d57b05ea34c7470dc44.jpg', N'', 1, CAST(N'2026-05-13T13:58:46.063' AS DateTime))
INSERT [dbo].[G5_banner] ([G5_BannerID], [G5_MaDanhMuc], [G5_TieuDe], [G5_MoTa], [G5_UrlAnh], [G5_LinkRedirect], [G5_TrangThai], [G5_NgayTao]) VALUES (2, 7, N'', N'', N'/static/uploads/2f4a6a66c5214a45ad718f3b6d7a4c5a.jpg', N'', 1, CAST(N'2026-05-13T14:03:32.507' AS DateTime))
INSERT [dbo].[G5_banner] ([G5_BannerID], [G5_MaDanhMuc], [G5_TieuDe], [G5_MoTa], [G5_UrlAnh], [G5_LinkRedirect], [G5_TrangThai], [G5_NgayTao]) VALUES (3, 7, N'', N'', N'/static/uploads/31dc03ad76314e8b8661695e90a00f70.jpg', N'', 1, CAST(N'2026-05-13T14:03:50.443' AS DateTime))
SET IDENTITY_INSERT [dbo].[G5_banner] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_chitietdonhang] ON 

INSERT [dbo].[G5_chitietdonhang] ([G5_MaChiTiet], [G5_MaDonHang], [G5_MaSanPham], [G5_SoLuong]) VALUES (1, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[G5_chitietdonhang] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_danhmuc] ON 

INSERT [dbo].[G5_danhmuc] ([G5_MaDanhMuc], [G5_TenDanhMuc], [G5_MoTa], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (1, N'Điện Thoại', N'các điện thoại android', 0, NULL, NULL)
INSERT [dbo].[G5_danhmuc] ([G5_MaDanhMuc], [G5_TenDanhMuc], [G5_MoTa], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (2, N'LapTop Gaming', N'LapTop đồ họa phục vụ cho các tác vụ xử lý đồ họa nặng như làm 3D, Game,....', 0, NULL, NULL)
INSERT [dbo].[G5_danhmuc] ([G5_MaDanhMuc], [G5_TenDanhMuc], [G5_MoTa], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (3, N'SamSung', N'Điện thoại sam sung....', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[G5_danhmuc] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_danhmuc_thuoctinh] ON 

INSERT [dbo].[G5_danhmuc_thuoctinh] ([G5_Id], [G5_MaDanhMuc], [G5_ThuocTinhID], [G5_ThuTu], [G5_TrangThai]) VALUES (274, 1, 34, NULL, 1)
INSERT [dbo].[G5_danhmuc_thuoctinh] ([G5_Id], [G5_MaDanhMuc], [G5_ThuocTinhID], [G5_ThuTu], [G5_TrangThai]) VALUES (275, 1, 35, NULL, 1)
INSERT [dbo].[G5_danhmuc_thuoctinh] ([G5_Id], [G5_MaDanhMuc], [G5_ThuocTinhID], [G5_ThuTu], [G5_TrangThai]) VALUES (276, 1, 36, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[G5_danhmuc_thuoctinh] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_donhang] ON 

INSERT [dbo].[G5_donhang] ([G5_MaDonHang], [G5_MaNguoiDung], [G5_NgayDatHang], [G5_TongTien], [G5_TrangThai], [G5_DiaChiNguoiNhan], [G5_EmailNguoiNhan], [G5_GhiChu], [G5_HoTenNguoiNhan], [G5_SoDienThoaiNguoiNhan], [G5_PhuongThucThanhToan], [G5_TrangThaiThanhToan], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (1, 4, CAST(N'2026-04-17T15:02:24.823' AS DateTime), CAST(7350000.00 AS Decimal(18, 2)), N'Chờ xử lý', N'Gia Viễn-Ninh Bình', N'', N'GiaPhong-Gia Viễn-Ninh Bình', N'Trần Tiến Anh', N'0345862097', N'Tiền mặt', N'Chưa thanh toán', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[G5_donhang] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_giatrithuoctinh] ON 

INSERT [dbo].[G5_giatrithuoctinh] ([G5_GiaTriID], [G5_MaSanPham], [G5_ThuocTinhID], [G5_GiaTri]) VALUES (17, 11, 34, N'Super Retina XDR OLED, ProMotion')
INSERT [dbo].[G5_giatrithuoctinh] ([G5_GiaTriID], [G5_MaSanPham], [G5_ThuocTinhID], [G5_GiaTri]) VALUES (18, 11, 37, N'120 Hz')
INSERT [dbo].[G5_giatrithuoctinh] ([G5_GiaTriID], [G5_MaSanPham], [G5_ThuocTinhID], [G5_GiaTri]) VALUES (19, 11, 36, N'6.9 inch')
SET IDENTITY_INSERT [dbo].[G5_giatrithuoctinh] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_sanpham] ON 

INSERT [dbo].[G5_sanpham] ([G5_MaSanPham], [G5_TenSanPham], [G5_MaDanhMuc], [G5_GiaGoc], [G5_MoTa], [G5_HinhAnh], [G5_SoLuongTon], [G5_TrangThai], [G5_NgayThem], [G5_Loai], [G5_GiaBan], [G5_ThuongHieu], [G5_XuatXu], [G5_BaoHanh], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (1, N'Xiaomi POCO X7 Pro', 1, CAST(9.99 AS Decimal(18, 2)), NULL, N'/static/uploads/tta_sanpham/tta_sp_cd0bea8914c943f085fd88fc24d06ffe.jpg', 20, 1, CAST(N'2026-04-16T15:25:59.697' AS DateTime), N'ca_hai', CAST(9.39 AS Decimal(18, 2)), N'Xiaomi', NULL, NULL, 1, CAST(N'2026-04-17T09:17:28.323' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[G5_sanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_thuoctinh] ON 

INSERT [dbo].[G5_thuoctinh] ([G5_ThuocTinhID], [G5_TenThuocTinh], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (1, N'Công nghệ màn hình', 0, NULL, NULL)
INSERT [dbo].[G5_thuoctinh] ([G5_ThuocTinhID], [G5_TenThuocTinh], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (2, N'Độ phân giải màn hình', 0, NULL, NULL)
INSERT [dbo].[G5_thuoctinh] ([G5_ThuocTinhID], [G5_TenThuocTinh], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (3, N'Kích thước màn hình', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[G5_thuoctinh] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_user] ON 

INSERT [dbo].[G5_user] ([G5_MaNguoiDung], [G5_HoTen], [G5_Email], [G5_SDT], [G5_NgaySinh], [G5_MatKhau], [G5_VaiTro], [G5_NgayDangKy], [G5_ResetToken], [G5_ResetTokenExpiry], [G5_AvatarUrl], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (1, N'Tran Tien Anh', N'tienanh@test.com', N'0901234567', CAST(N'2005-01-01' AS Date), N'$2b$12$dTsZv5WWdASbipkkesSrY.cOGzc6pRdS.JH8lydYkoR7urj8EdSkm', N'khachhang', CAST(N'2026-04-16T09:47:52.773' AS DateTime), NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[G5_user] ([G5_MaNguoiDung], [G5_HoTen], [G5_Email], [G5_SDT], [G5_NgaySinh], [G5_MatKhau], [G5_VaiTro], [G5_NgayDangKy], [G5_ResetToken], [G5_ResetTokenExpiry], [G5_AvatarUrl], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (2, N'Nguyen Van Test', N'test123@gmail.com', N'0912345678', NULL, N'$2b$12$0h3s/moAxD3nnrVHD1XMG.Fn8lzzhLKpG28XrKf32Kz.Y3c53JCSe', N'khachhang', CAST(N'2026-04-16T09:48:49.587' AS DateTime), NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[G5_user] ([G5_MaNguoiDung], [G5_HoTen], [G5_Email], [G5_SDT], [G5_NgaySinh], [G5_MatKhau], [G5_VaiTro], [G5_NgayDangKy], [G5_ResetToken], [G5_ResetTokenExpiry], [G5_AvatarUrl], [G5_IsDeleted], [G5_DeletedAt], [G5_DeletedBy]) VALUES (4, N'Tran Tien Anh', N'tienanhtran755@gmail.com', N'0387742492', NULL, N'$2b$12$l/.MytGKnJEAZpQwPQ/5.eVv8hyb81UC66kA6bc.wmX0AojSC/N/u', N'admin', CAST(N'2026-04-16T14:26:02.833' AS DateTime), NULL, NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[G5_user] OFF
GO
SET IDENTITY_INSERT [dbo].[G5_voucher] ON 

SET IDENTITY_INSERT [dbo].[G5_voucher] OFF
GO
/****** Object:  Index [IX_G5_chitiet_donhang_thue_MaDonThue]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_chitiet_donhang_thue_MaDonThue] ON [dbo].[G5_chitiet_donhang_thue]
(
	[G5_MaDonThue] ASC
)
INCLUDE([G5_MaSanPham],[G5_SoLuong],[G5_GiaThue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_chitietdonhang_MaDonHang]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_chitietdonhang_MaDonHang] ON [dbo].[G5_chitietdonhang]
(
	[G5_MaDonHang] ASC
)
INCLUDE([G5_MaSanPham],[G5_SoLuong]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_chitietdonhang_MaSanPham]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_chitietdonhang_MaSanPham] ON [dbo].[G5_chitietdonhang]
(
	[G5_MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_danhgia_MaSanPham]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_danhgia_MaSanPham] ON [dbo].[G5_danhgia]
(
	[G5_MaSanPham] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_SoSao],[G5_NgayDanhGia],[G5_MaNguoiDung]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_danhgia_SoSao]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_danhgia_SoSao] ON [dbo].[G5_danhgia]
(
	[G5_MaSanPham] ASC,
	[G5_SoSao] ASC
)
WHERE ([G5_IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_donhang_MaNguoiDung]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_donhang_MaNguoiDung] ON [dbo].[G5_donhang]
(
	[G5_MaNguoiDung] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_MaDonHang],[G5_NgayDatHang],[G5_TrangThai],[G5_TongTien]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_donhang_NgayDatHang]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_donhang_NgayDatHang] ON [dbo].[G5_donhang]
(
	[G5_NgayDatHang] DESC
)
WHERE ([G5_IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_donhang_TrangThai]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_donhang_TrangThai] ON [dbo].[G5_donhang]
(
	[G5_TrangThai] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_MaDonHang],[G5_MaNguoiDung],[G5_NgayDatHang]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_donhang_thue_MaNguoiDung]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_donhang_thue_MaNguoiDung] ON [dbo].[G5_donhang_thue]
(
	[G5_MaNguoiDung] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_MaDonThue],[G5_TrangThai],[G5_NgayBatDau]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_donhang_thue_TrangThai]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_donhang_thue_TrangThai] ON [dbo].[G5_donhang_thue]
(
	[G5_TrangThai] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_MaDonThue],[G5_MaNguoiDung],[G5_NgayBatDau],[G5_NgayKetThuc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_giatrithuoctinh_MaSanPham]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_giatrithuoctinh_MaSanPham] ON [dbo].[G5_giatrithuoctinh]
(
	[G5_MaSanPham] ASC
)
INCLUDE([G5_ThuocTinhID],[G5_GiaTri]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_giohangtam_MaNguoiDung]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_giohangtam_MaNguoiDung] ON [dbo].[G5_giohangtam]
(
	[G5_MaNguoiDung] ASC
)
INCLUDE([G5_MaSanPham],[G5_SoLuong]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_lich_tuvan_MaNguoiDung]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_lich_tuvan_MaNguoiDung] ON [dbo].[G5_lich_tuvan]
(
	[G5_MaNguoiDung] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_Id],[G5_TrangThai],[G5_ThoiGianBatDau]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_lich_tuvan_TrangThai]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_lich_tuvan_TrangThai] ON [dbo].[G5_lich_tuvan]
(
	[G5_TrangThai] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_Id],[G5_MaNguoiDung],[G5_ThoiGianBatDau],[G5_ThoiGianKetThuc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_onlinepayment_MaDonHang]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_onlinepayment_MaDonHang] ON [dbo].[G5_onlinepayment]
(
	[G5_MaDonHang] ASC
)
INCLUDE([G5_TrangThai],[G5_SoTien]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_onlinepayment_TransRef]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_onlinepayment_TransRef] ON [dbo].[G5_onlinepayment]
(
	[G5_TransactionReference] ASC
)
WHERE ([G5_TransactionReference] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_sanpham_IsDeleted]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_sanpham_IsDeleted] ON [dbo].[G5_sanpham]
(
	[G5_IsDeleted] ASC
)
INCLUDE([G5_MaSanPham],[G5_TenSanPham],[G5_GiaBan],[G5_TrangThai]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_sanpham_Loai]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_sanpham_Loai] ON [dbo].[G5_sanpham]
(
	[G5_Loai] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_MaSanPham],[G5_GiaBan],[G5_SoLuongTon]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_sanpham_MaDanhMuc]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_sanpham_MaDanhMuc] ON [dbo].[G5_sanpham]
(
	[G5_MaDanhMuc] ASC
)
WHERE ([G5_IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_sanpham_TenSanPham]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_sanpham_TenSanPham] ON [dbo].[G5_sanpham]
(
	[G5_TenSanPham] ASC
)
WHERE ([G5_IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_sanpham_hinhanh_MaSanPham]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_sanpham_hinhanh_MaSanPham] ON [dbo].[G5_sanpham_hinhanh]
(
	[G5_MaSanPham] ASC,
	[G5_TrangThai] ASC
)
INCLUDE([G5_UrlAnh],[G5_ThuTu]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__G5_user__E10B9422BAA45D75]    Script Date: 18/05/2026 4:07:59 CH ******/
ALTER TABLE [dbo].[G5_user] ADD UNIQUE NONCLUSTERED 
(
	[G5_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_user_Email_IsDeleted]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_user_Email_IsDeleted] ON [dbo].[G5_user]
(
	[G5_Email] ASC,
	[G5_IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_user_VaiTro]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_user_VaiTro] ON [dbo].[G5_user]
(
	[G5_VaiTro] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_MaNguoiDung],[G5_HoTen],[G5_Email]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_uservoucher_UserId]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_uservoucher_UserId] ON [dbo].[G5_uservoucher]
(
	[G5_UserId] ASC
)
INCLUDE([G5_VoucherId],[G5_IsUsed],[G5_ExpiredAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_G5_uservoucher_VoucherId]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_uservoucher_VoucherId] ON [dbo].[G5_uservoucher]
(
	[G5_VoucherId] ASC
)
INCLUDE([G5_UserId],[G5_IsUsed]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_voucher_Code]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_voucher_Code] ON [dbo].[G5_voucher]
(
	[G5_Code] ASC
)
WHERE ([G5_IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_G5_voucher_Status]    Script Date: 18/05/2026 4:07:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_G5_voucher_Status] ON [dbo].[G5_voucher]
(
	[G5_Status] ASC,
	[G5_IsDeleted] ASC
)
INCLUDE([G5_Id],[G5_Code],[G5_StartDate],[G5_EndDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[G5_banner] ADD  DEFAULT ((1)) FOR [G5_TrangThai]
GO
ALTER TABLE [dbo].[G5_banner] ADD  DEFAULT (getdate()) FOR [G5_NgayTao]
GO
ALTER TABLE [dbo].[G5_danhgia] ADD  DEFAULT (getdate()) FOR [G5_NgayDanhGia]
GO
ALTER TABLE [dbo].[G5_danhgia] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_danhmuc] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_danhmuc_thuoctinh] ADD  DEFAULT ((1)) FOR [G5_TrangThai]
GO
ALTER TABLE [dbo].[G5_dichvu_tuvan] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_donhang] ADD  DEFAULT (getdate()) FOR [G5_NgayDatHang]
GO
ALTER TABLE [dbo].[G5_donhang] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_donhang_thue] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_lich_tuvan] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_onlinepayment] ADD  DEFAULT (getdate()) FOR [G5_NgayTao]
GO
ALTER TABLE [dbo].[G5_paymentsession] ADD  DEFAULT (getdate()) FOR [G5_NgayTao]
GO
ALTER TABLE [dbo].[G5_sanpham] ADD  DEFAULT (getdate()) FOR [G5_NgayThem]
GO
ALTER TABLE [dbo].[G5_sanpham] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_sanpham_hinhanh] ADD  DEFAULT (getdate()) FOR [G5_NgayTao]
GO
ALTER TABLE [dbo].[G5_thuoctinh] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_user] ADD  DEFAULT (getdate()) FOR [G5_NgayDangKy]
GO
ALTER TABLE [dbo].[G5_user] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_voucher] ADD  DEFAULT (getdate()) FOR [G5_CreatedAt]
GO
ALTER TABLE [dbo].[G5_voucher] ADD  DEFAULT ((0)) FOR [G5_IsDeleted]
GO
ALTER TABLE [dbo].[G5_banner]  WITH CHECK ADD  CONSTRAINT [FK_G5_banner_danhmuc] FOREIGN KEY([G5_MaDanhMuc])
REFERENCES [dbo].[G5_danhmuc] ([G5_MaDanhMuc])
GO
ALTER TABLE [dbo].[G5_banner] CHECK CONSTRAINT [FK_G5_banner_danhmuc]
GO
ALTER TABLE [dbo].[G5_chitiet_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaDonThue])
REFERENCES [dbo].[G5_donhang_thue] ([G5_MaDonThue])
GO
ALTER TABLE [dbo].[G5_chitiet_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_chitietdonhang]  WITH CHECK ADD FOREIGN KEY([G5_MaDonHang])
REFERENCES [dbo].[G5_donhang] ([G5_MaDonHang])
GO
ALTER TABLE [dbo].[G5_chitietdonhang]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_danhgia]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_danhgia]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_danhmuc_thuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_MaDanhMuc])
REFERENCES [dbo].[G5_danhmuc] ([G5_MaDanhMuc])
GO
ALTER TABLE [dbo].[G5_danhmuc_thuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_ThuocTinhID])
REFERENCES [dbo].[G5_thuoctinh] ([G5_ThuocTinhID])
GO
ALTER TABLE [dbo].[G5_donhang]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaNhanVien])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_giatrithuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_giatrithuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_ThuocTinhID])
REFERENCES [dbo].[G5_thuoctinh] ([G5_ThuocTinhID])
GO
ALTER TABLE [dbo].[G5_giohangtam]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_giohangtam]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_lich_su_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_lich_su_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaDonThue])
REFERENCES [dbo].[G5_donhang_thue] ([G5_MaDonThue])
GO
ALTER TABLE [dbo].[G5_lich_tuvan]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_lich_tuvan]  WITH CHECK ADD FOREIGN KEY([G5_MaDichVu])
REFERENCES [dbo].[G5_dichvu_tuvan] ([G5_Id])
GO
ALTER TABLE [dbo].[G5_lich_tuvan_nhanvien]  WITH CHECK ADD FOREIGN KEY([G5_MaLich])
REFERENCES [dbo].[G5_lich_tuvan] ([G5_Id])
GO
ALTER TABLE [dbo].[G5_lich_tuvan_nhanvien]  WITH CHECK ADD FOREIGN KEY([G5_MaNhanVien])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_onlinepayment]  WITH CHECK ADD FOREIGN KEY([G5_MaDonHang])
REFERENCES [dbo].[G5_donhang] ([G5_MaDonHang])
GO
ALTER TABLE [dbo].[G5_paymentsession]  WITH CHECK ADD FOREIGN KEY([G5_MaDonHang])
REFERENCES [dbo].[G5_donhang] ([G5_MaDonHang])
GO
ALTER TABLE [dbo].[G5_sanpham]  WITH CHECK ADD FOREIGN KEY([G5_MaDanhMuc])
REFERENCES [dbo].[G5_danhmuc] ([G5_MaDanhMuc])
GO
ALTER TABLE [dbo].[G5_sanpham_hinhanh]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_sanpham_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_uservoucher]  WITH CHECK ADD FOREIGN KEY([G5_UserId])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_uservoucher]  WITH CHECK ADD FOREIGN KEY([G5_VoucherId])
REFERENCES [dbo].[G5_voucher] ([G5_Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_G5_Restore_SanPham]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_G5_Restore_SanPham]
    @MaSanPham  INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[G5_sanpham]
    SET    [G5_IsDeleted] = 0,
           [G5_DeletedAt] = NULL,
           [G5_DeletedBy] = NULL
    WHERE  [G5_MaSanPham] = @MaSanPham
      AND  [G5_IsDeleted] = 1;

    IF @@ROWCOUNT = 0
        RAISERROR(N'Sản phẩm không tồn tại hoặc chưa bị xóa mềm.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_G5_SoftDelete_DanhGia]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_G5_SoftDelete_DanhGia]
    @MaDanhGia  INT,
    @DeletedBy  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[G5_danhgia]
    SET    [G5_IsDeleted] = 1,
           [G5_DeletedAt] = GETDATE(),
           [G5_DeletedBy] = @DeletedBy
    WHERE  [G5_MaDanhGia] = @MaDanhGia
      AND  [G5_IsDeleted] = 0;

    IF @@ROWCOUNT = 0
        RAISERROR(N'Đánh giá không tồn tại hoặc đã bị xóa.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_G5_SoftDelete_DonHang]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_G5_SoftDelete_DonHang]
    @MaDonHang  INT,
    @DeletedBy  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[G5_donhang]
    SET    [G5_IsDeleted] = 1,
           [G5_DeletedAt] = GETDATE(),
           [G5_DeletedBy] = @DeletedBy
    WHERE  [G5_MaDonHang] = @MaDonHang
      AND  [G5_IsDeleted] = 0;

    IF @@ROWCOUNT = 0
        RAISERROR(N'Đơn hàng không tồn tại hoặc đã bị xóa.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_G5_SoftDelete_SanPham]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_G5_SoftDelete_SanPham]
    @MaSanPham  INT,
    @DeletedBy  INT = NULL   -- Mã người thực hiện xóa
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[G5_sanpham]
    SET    [G5_IsDeleted] = 1,
           [G5_DeletedAt] = GETDATE(),
           [G5_DeletedBy] = @DeletedBy
    WHERE  [G5_MaSanPham] = @MaSanPham
      AND  [G5_IsDeleted] = 0;

    IF @@ROWCOUNT = 0
        RAISERROR(N'Sản phẩm không tồn tại hoặc đã bị xóa.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_G5_SoftDelete_User]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_G5_SoftDelete_User]
    @MaNguoiDung  INT,
    @DeletedBy    INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[G5_user]
    SET    [G5_IsDeleted] = 1,
           [G5_DeletedAt] = GETDATE(),
           [G5_DeletedBy] = @DeletedBy
    WHERE  [G5_MaNguoiDung] = @MaNguoiDung
      AND  [G5_IsDeleted] = 0;

    IF @@ROWCOUNT = 0
        RAISERROR(N'Người dùng không tồn tại hoặc đã bị xóa.', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_G5_SoftDelete_Voucher]    Script Date: 18/05/2026 4:07:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_G5_SoftDelete_Voucher]
    @VoucherId  INT,
    @DeletedBy  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[G5_voucher]
    SET    [G5_IsDeleted] = 1,
           [G5_DeletedAt] = GETDATE(),
           [G5_DeletedBy] = @DeletedBy
    WHERE  [G5_Id] = @VoucherId
      AND  [G5_IsDeleted] = 0;

    IF @@ROWCOUNT = 0
        RAISERROR(N'Voucher không tồn tại hoặc đã bị xóa.', 16, 1);
END
GO
USE [master]
GO
