USE [master]
GO
/****** Object:  Database [G5_KD_DO_CONG_NGHE]    Script Date: 14/04/2026 9:38:38 SA ******/
CREATE DATABASE [G5_KD_DO_CONG_NGHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'G5_KD_DO_CONG_NGHE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIENANH1\MSSQL\DATA\G5_KD_DO_CONG_NGHE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'G5_KD_DO_CONG_NGHE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIENANH1\MSSQL\DATA\G5_KD_DO_CONG_NGHE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [G5_KD_DO_CONG_NGHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [G5_KD_DO_CONG_NGHE]
GO
/****** Object:  Table [dbo].[G5_chitiet_donhang_thue]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_chitiet_donhang_thue](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaDonThue] [int] NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_SoLuong] [int] NULL,
	[G5_GiaThue] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_chitietdonhang]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_chitietdonhang](
	[G5_MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaDonHang] [int] NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_danhgia]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_danhgia](
	[G5_MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_SoSao] [int] NULL,
	[G5_BinhLuan] [nvarchar](max) NULL,
	[G5_NgayDanhGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_danhmuc]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_danhmuc](
	[G5_MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenDanhMuc] [nvarchar](255) NULL,
	[G5_MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_danhmuc_thuoctinh]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_danhmuc_thuoctinh](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaDanhMuc] [int] NULL,
	[G5_ThuocTinhID] [int] NULL,
	[G5_ThuTu] [int] NULL,
	[G5_TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_dichvu_tuvan]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_dichvu_tuvan](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenDichVu] [nvarchar](255) NULL,
	[G5_MoTa] [nvarchar](max) NULL,
	[G5_Gia] [decimal](18, 2) NULL,
	[G5_ThoiLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_donhang]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_donhang](
	[G5_MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_NgayDatHang] [datetime] NULL,
	[G5_TongTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_DiaChiNguoiNhan] [nvarchar](255) NULL,
	[G5_EmailNguoiNhan] [nvarchar](255) NULL,
	[G5_GhiChu] [nvarchar](max) NULL,
	[G5_HoTenNguoiNhan] [nvarchar](255) NULL,
	[G5_SoDienThoaiNguoiNhan] [nvarchar](20) NULL,
	[G5_PhuongThucThanhToan] [nvarchar](50) NULL,
	[G5_TrangThaiThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_donhang_thue]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_donhang_thue](
	[G5_MaDonThue] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_MaNhanVien] [int] NULL,
	[G5_NgayBatDau] [datetime] NULL,
	[G5_NgayKetThuc] [datetime] NULL,
	[G5_TongTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_TienCoc] [decimal](18, 2) NULL,
	[G5_TrangThaiThanhToan] [nvarchar](50) NULL,
	[G5_NgayTraThucTe] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaDonThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_giatrithuoctinh]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_giatrithuoctinh](
	[G5_GiaTriID] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_ThuocTinhID] [int] NULL,
	[G5_GiaTri] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_GiaTriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_giohangtam]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_giohangtam](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_lich_su_thue]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_lich_su_thue](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_MaDonThue] [int] NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_lich_tuvan]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_lich_tuvan](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaNguoiDung] [int] NULL,
	[G5_MaDichVu] [int] NULL,
	[G5_ThoiGianBatDau] [datetime] NULL,
	[G5_ThoiGianKetThuc] [datetime] NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_lich_tuvan_nhanvien]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_lich_tuvan_nhanvien](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaLich] [int] NULL,
	[G5_MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_onlinepayment]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_onlinepayment](
	[G5_MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[G5_NgayCapNhat] [datetime] NULL,
	[G5_NgayHetHan] [datetime] NULL,
	[G5_NgayTao] [datetime] NULL,
	[G5_NoiDung] [nvarchar](max) NULL,
	[G5_QRCodeUrl] [nvarchar](max) NULL,
	[G5_SoTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_TransactionReference] [nvarchar](255) NULL,
	[G5_MaDonHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_paymentsession]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_paymentsession](
	[G5_MaSession] [int] IDENTITY(1,1) NOT NULL,
	[G5_CartDataJson] [nvarchar](max) NULL,
	[G5_DiaChi] [nvarchar](255) NULL,
	[G5_Email] [nvarchar](255) NULL,
	[G5_PhiShip] [decimal](18, 2) NULL,
	[G5_GiamGia] [decimal](18, 2) NULL,
	[G5_HoTen] [nvarchar](255) NULL,
	[G5_NgayCapNhat] [datetime] NULL,
	[G5_NgayHetHan] [datetime] NULL,
	[G5_NgayTao] [datetime] NULL,
	[G5_NoiDungCK] [nvarchar](max) NULL,
	[G5_QRCodeUrl] [nvarchar](max) NULL,
	[G5_SoDienThoai] [nvarchar](20) NULL,
	[G5_TongTien] [decimal](18, 2) NULL,
	[G5_TrangThai] [nvarchar](50) NULL,
	[G5_TransactionReference] [nvarchar](255) NULL,
	[G5_VoucherCode] [nvarchar](100) NULL,
	[G5_MaDonHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_sanpham]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_sanpham](
	[G5_MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenSanPham] [nvarchar](255) NULL,
	[G5_MaDanhMuc] [int] NULL,
	[G5_GiaGoc] [decimal](18, 2) NULL,
	[G5_MoTa] [nvarchar](max) NULL,
	[G5_HinhAnh] [nvarchar](max) NULL,
	[G5_SoLuongTon] [int] NULL,
	[G5_TrangThai] [bit] NULL,
	[G5_NgayThem] [datetime] NULL,
	[G5_Loai] [nvarchar](50) NULL,
	[G5_GiaBan] [decimal](18, 2) NULL,
	[G5_ThuongHieu] [nvarchar](255) NULL,
	[G5_XuatXu] [nvarchar](255) NULL,
	[G5_BaoHanh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_sanpham_hinhanh]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_sanpham_hinhanh](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_UrlAnh] [nvarchar](max) NULL,
	[G5_AltText] [nvarchar](255) NULL,
	[G5_ThuTu] [int] NULL,
	[G5_NgayTao] [datetime] NULL,
	[G5_TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_sanpham_thue]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_sanpham_thue](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_MaSanPham] [int] NULL,
	[G5_GiaThueNgay] [decimal](18, 2) NULL,
	[G5_GiaThueGio] [decimal](18, 2) NULL,
	[G5_SoLuongChoThue] [int] NULL,
	[G5_TienCoc] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_thuoctinh]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_thuoctinh](
	[G5_ThuocTinhID] [int] IDENTITY(1,1) NOT NULL,
	[G5_TenThuocTinh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_ThuocTinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_user]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_user](
	[G5_MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[G5_HoTen] [nvarchar](255) NULL,
	[G5_Email] [nvarchar](255) NULL,
	[G5_SDT] [nvarchar](20) NULL,
	[G5_NgaySinh] [date] NULL,
	[G5_MatKhau] [nvarchar](255) NULL,
	[G5_VaiTro] [nvarchar](50) NULL,
	[G5_NgayDangKy] [datetime] NULL,
	[G5_ResetToken] [nvarchar](255) NULL,
	[G5_ResetTokenExpiry] [datetime] NULL,
	[G5_AvatarUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[G5_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_uservoucher]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_uservoucher](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_ClaimedAt] [datetime] NULL,
	[G5_ExpiredAt] [datetime] NULL,
	[G5_IsUsed] [bit] NULL,
	[G5_UsedAt] [datetime] NULL,
	[G5_OrderId] [int] NULL,
	[G5_UserId] [int] NULL,
	[G5_VoucherId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G5_voucher]    Script Date: 14/04/2026 9:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G5_voucher](
	[G5_Id] [int] IDENTITY(1,1) NOT NULL,
	[G5_ApplyToAll] [bit] NULL,
	[G5_CategoryIds] [nvarchar](max) NULL,
	[G5_Code] [nvarchar](100) NULL,
	[G5_CreatedAt] [datetime] NULL,
	[G5_Description] [nvarchar](max) NULL,
	[G5_DiscountType] [nvarchar](50) NULL,
	[G5_DiscountValue] [decimal](18, 2) NULL,
	[G5_EndDate] [datetime] NULL,
	[G5_UserIdCreate] [int] NULL,
	[G5_MaxDiscount] [decimal](18, 2) NULL,
	[G5_MinOrderValue] [decimal](18, 2) NULL,
	[G5_Name] [nvarchar](255) NULL,
	[G5_ProductIds] [nvarchar](max) NULL,
	[G5_StartDate] [datetime] NULL,
	[G5_Status] [nvarchar](50) NULL,
	[G5_TotalQuantity] [int] NULL,
	[G5_UsedQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[G5_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[G5_danhgia] ADD  DEFAULT (getdate()) FOR [G5_NgayDanhGia]
GO
ALTER TABLE [dbo].[G5_danhmuc_thuoctinh] ADD  DEFAULT ((1)) FOR [G5_TrangThai]
GO
ALTER TABLE [dbo].[G5_donhang] ADD  DEFAULT (getdate()) FOR [G5_NgayDatHang]
GO
ALTER TABLE [dbo].[G5_onlinepayment] ADD  DEFAULT (getdate()) FOR [G5_NgayTao]
GO
ALTER TABLE [dbo].[G5_paymentsession] ADD  DEFAULT (getdate()) FOR [G5_NgayTao]
GO
ALTER TABLE [dbo].[G5_sanpham] ADD  DEFAULT (getdate()) FOR [G5_NgayThem]
GO
ALTER TABLE [dbo].[G5_sanpham_hinhanh] ADD  DEFAULT (getdate()) FOR [G5_NgayTao]
GO
ALTER TABLE [dbo].[G5_user] ADD  DEFAULT (getdate()) FOR [G5_NgayDangKy]
GO
ALTER TABLE [dbo].[G5_voucher] ADD  DEFAULT (getdate()) FOR [G5_CreatedAt]
GO
ALTER TABLE [dbo].[G5_chitiet_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaDonThue])
REFERENCES [dbo].[G5_donhang_thue] ([G5_MaDonThue])
GO
ALTER TABLE [dbo].[G5_chitiet_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_chitietdonhang]  WITH CHECK ADD FOREIGN KEY([G5_MaDonHang])
REFERENCES [dbo].[G5_donhang] ([G5_MaDonHang])
GO
ALTER TABLE [dbo].[G5_chitietdonhang]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_danhgia]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_danhgia]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_danhmuc_thuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_MaDanhMuc])
REFERENCES [dbo].[G5_danhmuc] ([G5_MaDanhMuc])
GO
ALTER TABLE [dbo].[G5_danhmuc_thuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_ThuocTinhID])
REFERENCES [dbo].[G5_thuoctinh] ([G5_ThuocTinhID])
GO
ALTER TABLE [dbo].[G5_donhang]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_donhang_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaNhanVien])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_giatrithuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_giatrithuoctinh]  WITH CHECK ADD FOREIGN KEY([G5_ThuocTinhID])
REFERENCES [dbo].[G5_thuoctinh] ([G5_ThuocTinhID])
GO
ALTER TABLE [dbo].[G5_giohangtam]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_giohangtam]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_lich_su_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_lich_su_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaDonThue])
REFERENCES [dbo].[G5_donhang_thue] ([G5_MaDonThue])
GO
ALTER TABLE [dbo].[G5_lich_tuvan]  WITH CHECK ADD FOREIGN KEY([G5_MaNguoiDung])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_lich_tuvan]  WITH CHECK ADD FOREIGN KEY([G5_MaDichVu])
REFERENCES [dbo].[G5_dichvu_tuvan] ([G5_Id])
GO
ALTER TABLE [dbo].[G5_lich_tuvan_nhanvien]  WITH CHECK ADD FOREIGN KEY([G5_MaLich])
REFERENCES [dbo].[G5_lich_tuvan] ([G5_Id])
GO
ALTER TABLE [dbo].[G5_lich_tuvan_nhanvien]  WITH CHECK ADD FOREIGN KEY([G5_MaNhanVien])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_onlinepayment]  WITH CHECK ADD FOREIGN KEY([G5_MaDonHang])
REFERENCES [dbo].[G5_donhang] ([G5_MaDonHang])
GO
ALTER TABLE [dbo].[G5_paymentsession]  WITH CHECK ADD FOREIGN KEY([G5_MaDonHang])
REFERENCES [dbo].[G5_donhang] ([G5_MaDonHang])
GO
ALTER TABLE [dbo].[G5_sanpham]  WITH CHECK ADD FOREIGN KEY([G5_MaDanhMuc])
REFERENCES [dbo].[G5_danhmuc] ([G5_MaDanhMuc])
GO
ALTER TABLE [dbo].[G5_sanpham_hinhanh]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_sanpham_thue]  WITH CHECK ADD FOREIGN KEY([G5_MaSanPham])
REFERENCES [dbo].[G5_sanpham] ([G5_MaSanPham])
GO
ALTER TABLE [dbo].[G5_uservoucher]  WITH CHECK ADD FOREIGN KEY([G5_UserId])
REFERENCES [dbo].[G5_user] ([G5_MaNguoiDung])
GO
ALTER TABLE [dbo].[G5_uservoucher]  WITH CHECK ADD FOREIGN KEY([G5_VoucherId])
REFERENCES [dbo].[G5_voucher] ([G5_Id])
GO
USE [master]
GO
